# Environment files
*.env

# Temporary build files
tmp/
auth-service/tmp/
user-service/tmp/
api-gateway/tmp/
audit-service/tmp

postgres-data/

.docker/

.env
*.env.local

# Logs
*.log

.docker-compose-copy