<section class="bg-[linear-gradient(120deg,_#0ea5e9,_#1e1b4b,_#0f172a,_#0284c7,_#1e3a8a)] bg-[length:300%_300%] min-h-screen flex items-center justify-center animate-[lavaLamp_20s_ease-in-out_infinite]">
  <div class="bg-gradient-to-r from-purple-300 to-cyan-400 flex flex-col md:flex-row rounded-2xl shadow-lg max-w-3xl p-5 items-center animate-[fadeIn_1s_ease-out]">
    <div class="w-full md:w-1/2 p-4">
      <h2 class="text-2xl font-bold mb-4 text-gray-800">Recuperar Contraseña</h2>
      <form (ngSubmit)="onRecoverPassword()" #recoverPasswordForm="ngForm" class="flex flex-col gap-4 mt-2">
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Correo electrónico"
          class="p-2 mt-2 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400"
          required
        >
        <button
          type="submit"
          class="bg-[#002D74] text-white py-2 rounded-xl hover:scale-105 hover:shadow-[0_0_15px_#002D74] duration-300 cursor-pointer"
        >
          Enviar enlace de recuperación
        </button>
      </form>
    </div>
    <div class="w-full md:w-1/2 hidden md:block p-4">
      <img
        class="rounded-2xl w-full h-full object-cover"
        src="assets/images/login_base_img.jpg"
        alt="Recuperar contraseña"
      >
    </div>
  </div>
</section>
