<div class="flex min-h-screen bg-gray-50 text-gray-800">
  <!-- Sidebar -->
  <aside
    class="bg-[#0f172a] text-gray-200 min-h-screen flex flex-col transition-all duration-300
         w-20 sm:w-20 lg:w-48 "
    [class.w-20]="isCollapsed"
  >
    <!-- Logo / Image -->
    <div class="flex flex-col items-center mt-4 mb-2">
      <img
        src="assets/images/user.png"
        alt="Profile"
        class="w-8 h-8 sm:w-12 sm:h-12 lg:w-16 lg:h-16 rounded-full mb-2"
      />
      <hr class="w-3/4 border-gray-500 mb-3" />
    </div>

    <!-- Profile Menu -->
    <div class="px-4">
      <button
        class="w-full text-left py-1 px-2 sm:py-2 sm:px-3 rounded-lg hover:bg-gray-700 flex justify-between items-center"
        (click)="profileOpen = !profileOpen"
      >
        <span class="text-sm sm:text-base font-semibold">Perfil</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-3 w-3 sm:h-4 sm:w-4 transition-transform"
          [class.rotate-180]="profileOpen"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 9l-7 7-7-7" />
        </svg>
      </button>


     <!-- Dropdown -->
      <div *ngIf="profileOpen" class="mt-1 flex flex-col gap-1 text-xs sm:text-sm text-gray-300 w-full">
        <button
          class="hover:bg-gray-700 rounded px-1 py-1 sm:px-2 sm:py-1.5 text-left break-words"
          (click)="selectAction('home')"
        >
          Info
        </button>
        <button
          class="hover:bg-gray-700 rounded px-1 py-1 sm:px-2 sm:py-1.5 text-left break-words"
          (click)="selectAction('update')"
        >
          Actualizar Credenciales
        </button>
        <button
          class="hover:bg-gray-700 rounded px-1 py-1 sm:px-2 sm:py-1.5 text-left text-red-400 break-words"
          (click)="selectAction('delete')"
        >
          Eliminar Cuenta
        </button>
      </div>


    </div>

    <hr class="my-4 border-gray-700" />

    <!-- Admin / Conditional Section -->
    <div *ngIf="showAdminMenu" class="px-2 sm:px-4">
      <p class="text-[10px] sm:text-sm text-gray-400 uppercase mb-1 sm:mb-2 lg:ml-2 ">Administración</p>

      <button href="#" class="block py-1 sm:py-2 px-2 sm:px-3 rounded text-sm sm:text-base hover:bg-gray-700"
      (click)="selectAction('listUsers')">
        Listar Usuarios
      </button>
    </div>

    <div class="flex flex-col h-full p-2 sm:p-4">
      <!-- Logout button -->
      <button
        class="w-full sm:w-[90%] mx-auto mt-auto py-1 sm:py-2 text-sm sm:text-base bg-red-600 text-white font-semibold rounded-lg hover:bg-gray-700 transition"
        (click)="logout()"
      >
        Cerrar Sesión
      </button>
    </div>


  </aside>

  <!-- Main Content -->
    <main class="flex-1 p-4 lg:p-8">
      <div *ngIf="selectedAction === 'home'">
      <h1 class="text-xl sm:text-2xl font-bold mb-2 sm:mb-4">Pagina Inicio</h1>

      <div class="mt-2 sm:mt-4 bg-white p-2 sm:p-6 rounded-xl shadow-md border border-gray-200">
  <h2 class="text-base sm:text-xl font-semibold mb-1 sm:mb-2">Información Usuario</h2>

  <div *ngIf="user; else noUser" class="overflow-x-auto">
  <table class="min-w-full text-left border border-gray-300 rounded-lg shadow-md text-[0.6rem] sm:text-sm">
    <tbody>
      <tr *ngIf="user.full_name">
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 font-semibold text-gray-700 border-b border-gray-200">Nombre completo</td>
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 text-gray-900 border-b border-gray-200 max-w-[80px] sm:max-w-[120px] break-words whitespace-normal">
          {{ user.full_name }}
        </td>
      </tr>

      <tr *ngIf="user.email">
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 font-semibold text-gray-700 border-b border-gray-200">Correo electrónico</td>
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 text-gray-900 border-b border-gray-200 max-w-[80px] sm:max-w-[200px] break-words whitespace-normal">
          {{ user.email }}
        </td>
      </tr>

      <tr *ngIf="user.phone_number">
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 font-semibold text-gray-700 border-b border-gray-200">Número de teléfono</td>
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 text-gray-900 border-b border-gray-200 max-w-[80px] sm:max-w-[120px] break-words whitespace-normal">
          {{ user.phone_number }}
        </td>
      </tr>

      <tr *ngIf="user.date_of_birth">
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 font-semibold text-gray-700 border-b border-gray-200">Fecha de nacimiento</td>
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 text-gray-900 border-b border-gray-200 max-w-[80px] sm:max-w-[120px] break-words whitespace-normal">
          {{ user.date_of_birth }}
        </td>
      </tr>

      <tr *ngIf="user.address">
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 font-semibold text-gray-700 border-b border-gray-200">Dirección</td>
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 text-gray-900 border-b border-gray-200 max-w-[80px] sm:max-w-[150px] break-words whitespace-normal">
          {{ user.address }}
        </td>
      </tr>

      <tr *ngIf="user.create_date">
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 font-semibold text-gray-700 border-b border-gray-200">Fecha de creación</td>
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 text-gray-900 border-b border-gray-200 max-w-[80px] sm:max-w-[120px] break-words whitespace-normal">
          {{ user.create_date }}
        </td>
      </tr>

      <tr *ngIf="user.last_login">
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 font-semibold text-gray-700 border-b border-gray-200">Último inicio de sesión</td>
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 text-gray-900 border-b border-gray-200 max-w-[80px] sm:max-w-[140px] break-words whitespace-normal">
          {{ user.last_login | date:'short' }}
        </td>
      </tr>

      <tr *ngIf="user.account_status">
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 font-semibold text-gray-700 border-b border-gray-200">Estado de cuenta</td>
        <td class="px-1 sm:px-4 py-0.5 sm:py-2 text-gray-900 border-b border-gray-200 max-w-[80px] sm:max-w-[120px] break-words whitespace-normal capitalize">
          {{ user.account_status }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>

      <ng-template #noUser>
        <p class="text-gray-500 italic text-[0.6rem] sm:text-sm">No se encontró información del usuario.</p>
      </ng-template>


      </div>
      <div *ngIf="selectedAction === 'update'">
        <h2 class="text-xl font-semibold mb-2 sm:text-[20px]">Actualizar Información</h2>
        <app-update-user-page (actionChanged)="selectAction($event)"></app-update-user-page>
      </div>


    <!-- Delete Account -->
    <div *ngIf="selectedAction === 'delete'">
       <app-delete-user-page></app-delete-user-page>
    </div>
    <div *ngIf="selectedAction === 'listUsers'">
       <app-list-users></app-list-users>
    </div>
  </main>
</div>
